body {
    background: url('Images/Background-Muted.png');
    //background-attachment: fixed;
}

a.menu {
    text-shadow: 2px 2px 2px #000;
}

.page-title {
    font-size: 30px;
    margin: 0;
    text-shadow: 2px 2px 2px #000;
    text-align: center;
    color: #fff;
    text-transform: none;
}

.topbar {
    background-color: #740000;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.6);
    padding: 10px 0px;
    z-index: 10;
}

.sidebar {
    background-color: #fff;
}

.nav-pills>li.active2>a {
    background-color: #9e0b0f;
    color: #fff;
    border-radius: 5px;
}

.nav-pills>li>a {
    color: #9e0b0f;
}

.content {
    background: rgba(180,180,180,0.7);
    border: 2px solid rgba(210,210,210,1);
    border-radius: 2px;
    box-shadow: 3px 3px 0px rgba(210,210,210,1),
                -3px -3px 0px rgba(210,210,210,1),
                4px 4px 5px rgba(0,0,0,0.6);
    padding: 10px;
    margin-bottom: 20px;
    min-height: 200px;
    z-index: 10;
}

.add {
    text-align: center;
}

a:hover, a:active, a:checked, a:focus {
    text-decoration: none !important;
}

.btn-primary {
    background-color: #740000;
    border-color: #550000;
}

.btn-primary:hover, .btn-primary:focus {
    background-color: #850000;
    border-color: #660000;
}

.btn-primary:active {
    background-color: #910000 !important;
    border-color: #720000 !important;
}

form {
    margin-bottom: 0;
}

h1, h2, h3, h4 {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #740000;
    /*text-shadow:
        2px 2px 0 red,
        2px -2px 0 red,
        -2px 2px 0 red,
        -2px -2px 0 red;*/
    text-shadow: 2px 2px 2px rgba(0,0,0,0.6);
}

h3.content-title {
    position: relative;
    text-align: center;
    margin-top: 0;
    font-size: 20px;
}

h3.content-title, article {
    position: relative;
    text-align: center;
    margin-top: 0;
    font-size: 15px;
}

p.subtext {
    color: rgba(100,100,100,1);
    text-align: center;
    font-weight: bold;
}

.modal-backdrop {
    top: 53px;
}

input {
    margin: 0 0 5px;
}

a>div.content:hover {
    background: rgba(200,200,200,0.7);
    border: 2px solid rgba(230,230,230,1);
    box-shadow: 3px 3px 0px rgba(230,230,230,1),
                -3px -3px 0px rgba(230,230,230,1),
                4px 4px 5px rgba(0,0,0,0.6);
    transform: scale(1.01);
}

div.content.hoverable:hover {
    background: rgba(200,200,200,0.7);
    border: 2px solid rgba(230,230,230,1);
    box-shadow: 3px 3px 0px rgba(230,230,230,1),
                -3px -3px 0px rgba(230,230,230,1),
                4px 4px 5px rgba(0,0,0,0.6);
    transform: scale(1.01);
}

div.content.hoverable.removed {
    background: rgba(120,120,120,0.7);
    border: 2px solid #740000;
    box-shadow: 3px 3px 0px #740000,
                -3px -3px 0px #740000,
                4px 4px 5px rgba(0,0,0,0.6);
}

table, th {
    text-align: center;
}

.table>tbody>tr>td {
    vertical-align: middle;
}